# list and some of its default method

In [1]:
lst=["vaibhav",10,"raj",20,20.45]

In [2]:
lst

['vaibhav', 10, 'raj', 20, 20.45]

In [3]:
lst[2]

'raj'

In [4]:
lst[-1]

20.45

In [5]:
lst.append("Ankit")

In [6]:
lst

['vaibhav', 10, 'raj', 20, 20.45, 'Ankit']

In [7]:
lst.index(20)

3

In [8]:
lst.reverse()

In [9]:
lst

['Ankit', 20.45, 20, 'raj', 10, 'vaibhav']

In [10]:
lst.pop()

'vaibhav'

In [11]:
lst

['Ankit', 20.45, 20, 'raj', 10]

In [12]:
lst.clear()

In [13]:
lst

[]

# dict and some of its default method

In [14]:
dit={"Name":"suresh","age":"40","class":"12","school":"kv"}

In [15]:
dit

{'Name': 'suresh', 'age': '40', 'class': '12', 'school': 'kv'}

In [16]:
type(dit)

dict

In [17]:
dit["age"]

'40'

In [18]:
dit.items()

dict_items([('Name', 'suresh'), ('age', '40'), ('class', '12'), ('school', 'kv')])

In [19]:
dit.pop("class")

'12'

In [20]:
dit

{'Name': 'suresh', 'age': '40', 'school': 'kv'}

In [21]:
dit.keys()

dict_keys(['Name', 'age', 'school'])

In [22]:
dit.get("Name")

'suresh'

In [23]:
dit.values()

dict_values(['suresh', '40', 'kv'])

In [24]:
dit["class"]=12

In [25]:
dit

{'Name': 'suresh', 'age': '40', 'school': 'kv', 'class': 12}

# Tuple and its some methods

In [26]:
tp=("arjun",20,19.89,"rajesh")

In [27]:
tp

('arjun', 20, 19.89, 'rajesh')

In [28]:
type(tp)

tuple

In [29]:
tp.index(20)

1

In [30]:
tp[0]

'arjun'

In [31]:
tp[-1]

'rajesh'

In [32]:
tp[1:]

(20, 19.89, 'rajesh')

# sets and some its methods

In [33]:
st={"apple",1,1,2,3,2,3,3,"rajesh"}

In [34]:
st

{1, 2, 3, 'apple', 'rajesh'}

In [35]:
st1={"apple",2}

In [36]:
st1

{2, 'apple'}

In [37]:
st.issuperset(st1)

True

In [38]:
st1.issubset(st)

True

In [39]:
st.add(6)

In [40]:
st

{1, 2, 3, 6, 'apple', 'rajesh'}

In [41]:
st.union(st1)

{1, 2, 3, 6, 'apple', 'rajesh'}

In [42]:
st.intersection(st1)

{2, 'apple'}

In [43]:
st.pop()

1

In [44]:
st

{2, 3, 6, 'apple', 'rajesh'}

In [45]:
st.symmetric_difference(st1)

{3, 6, 'rajesh'}

# String and its some methods

In [46]:
s="Ramesh"

In [47]:
s

'Ramesh'

In [48]:
type(s)

str

In [49]:
s.capitalize()

'Ramesh'

In [50]:
s.upper()

'RAMESH'

In [51]:
s.endswith("h")

True

In [52]:
s.isdigit()

False

In [53]:
s.islower()

False

In [54]:
s=s.lower()

In [55]:
s

'ramesh'

In [56]:
s.islower()

True

In [57]:
s.split("m")

['ra', 'esh']